header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  width: 100%;
  .logo {
    margin-top: 6px;
  }
}

.burger-menu {
  display: none;
}

.header-nav__ul {
  display: flex;
  align-items: center;
  gap: 40px;
  li a {
    color: black;
    text-decoration: none;
  }
}

.header-nav__ul--li-active {
  border-radius: 6px;
  border: 1px #191A23 solid;
  padding: 20px 35px;
}

.header-nav__ul--li:hover {
  text-decoration: underline;
}

.header-nav__ul--li-active:hover {
  background-color: #191A23;
  text-decoration: none;
  a {
    color: white;
  }
}

@media (max-width: 1023px) {



  header {
    margin-top: 0;
    .logo {
      margin: 0;
    }
  }

  .logo-img {
    width: 116px;
    height: 24px;
  }

  .burger-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    border: none;
    cursor: pointer;
    &.active {
      z-index: 10;
      position: fixed;
      top: auto;
      right: 20px;
      span {
        background-color: white;
        transform: scale(0);
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1.5px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1.5px);
        }
      }
    }
  }
  
  .burger-menu span {
    position: absolute;
    top: calc(50% - 1.5px); /*сокращение transform через calc*/
    left: 0;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 8px;
    transition: all .2s;
    &:first-child {
      top: 0;
    }
    &:last-child {
      top: auto;
      bottom: 0;
    }
  }

  .header-nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: #191A23;
    padding: 40px;
    z-index: 5;
    display: none;
    &.active {
      display: block;
    }
  }

  .header-nav__ul {
    overflow: auto;
    height: 100%;
    flex-direction: column;
    li a {
      color: white;
    }
  }

  .header-nav__ul--li-active {
    border-radius: unset;
    border: unset;
    padding: unset;
  }



}

