* {
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 0px 100px;
  max-width: 1440px;
  margin: 0 auto;
}

.bodyOverflowToggle {
  overflow-y: hidden;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h2 {
  font-size: 40px;
  border-radius: 6px;
  background-color: #B9FF66;
  padding: 7px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 18px;
}

button {
  cursor: pointer;
  font-size: 20px;
  color: white;
  background-color: #191A23;
  border-radius: 6px;
  border: none;
}

@media (max-width: 1023px) {
  
  body {
    padding: 30px 20px 0px 20px;
    width: 100%;
  }

  p {
    font-size: 16px;
  }

}